@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #272727;
    font-family: 'Righteous', cursive;
}

img , p{
    opacity: 0.5;
    cursor: pointer;
}

img:hover{
    opacity: 1.0;
    transition: opacity .25s ease-in-out;
}

.drumkit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    flex: 1 0 calc(33.333% - 20px);
    background: radial-gradient(#fcbd83, #d15746);
    border-radius: 10px
}